<?xml version="1.0" encoding="utf-8" ?>
<root>
  <applicationName>CliboDone</applicationName>
  <applicationFilePath>CliboDone.exe</applicationFilePath>
  <applicationVersionFilePath>CliboDone.version</applicationVersionFilePath>
  <githubApiRootUrl>https://api.github.com</githubApiRootUrl>
  <releasesLatest>
    <uri>repos/:owner/:repo/releases/latest</uri>
    <owner>ison12</owner>
    <repo>cliboDone</repo>
  </releasesLatest>
  <installScript></installScript>
</root>
