<?xml version="1.0" encoding="utf-8" ?>
<root>
  <applicationId></applicationId>
  <applicationName></applicationName>
  <githubApiRootUrl>https://api.github.com</githubApiRootUrl>
  <releasesLatest>
    <uri>ison12</uri>
    <owner>ison12</owner>
    <repo>cliboDone</repo>
  </releasesLatest>
  <installScript></installScript>
</root>
