<?xml version="1.0" encoding="utf-8" ?>
<root>
  <!-- The name of the application which becomes an update target -->
  <applicationName>CliboDone</applicationName>
  <!-- File pass of application of an update target (Relative path from GitHubAutoUpdater.exe) -->
  <applicationFilePath>..\CliboDone.exe</applicationFilePath>
  <!-- File pass of application version of an update target (Relative path from GitHubAutoUpdater.exe) -->
  <applicationVersionFilePath>..\CliboDone.version</applicationVersionFilePath>
  <!--  (Relative path from  value of applicationFilePath tag) -->
  <updateScriptFilePath>Update.bat</updateScriptFilePath>
  <!-- File pass of application version of an update target (Relative path from GitHubAutoUpdater.exe) -->
  <updateCheckProcesses>
    <process>CliboDone</process>
  </updateCheckProcesses>
  <github>
    <rootUrl>https://api.github.com</rootUrl>
    <releasesLatest>
      <uri>repos/:owner/:repo/releases/latest</uri>
      <owner>ison12</owner>
      <repo>cliboDone</repo>
    </releasesLatest>
  </github>
</root>
