<?xml version="1.0" encoding="utf-8" ?>
<root>
  <!-- The name of the application which becomes an update target -->
  <applicationName>CliboDone</applicationName>
  <!-- File pass of application of an update target (Relative path from GitHubAutoUpdater.exe) -->
  <applicationFilePath>..\CliboDone.exe</applicationFilePath>
  <!-- File pass of application version of an update target (Relative path from GitHubAutoUpdater.exe) -->
  <applicationVersionFilePath>..\CliboDone.version</applicationVersionFilePath>
  <!-- Update script file path (Relative path from  value of applicationFilePath tag) -->
  <updateScriptFilePath>Update.bat</updateScriptFilePath>
  <!-- Check process name when updating. -->
  <updateCheckProcesses>
    <process>CliboDone</process>
  </updateCheckProcesses>
  <!-- GitHub API Settings -->
  <github>
    <rootUrl>https://api.github.com</rootUrl>
    <!-- Fetch release latest info. -->
    <releasesLatest>
      <!-- Replace ":owner" and ":repo" to corresponding tags. -->
      <uri>repos/:owner/:repo/releases/latest</uri>
      <!-- Owner settings. -->
      <owner>ison12</owner>
      <!-- Repository settings. -->
      <repo>cliboDone</repo>
    </releasesLatest>
  </github>
</root>
